<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/netflix_94400.ico" type="image/x-icon">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('header', {}) %>

  <div class="dropdown">
    <button class="dropbtn">Categorias</button>
    <div class="dropdown-content">

      <% categories.forEach((category)=> { %>
      <a href="<%= host %>/category/<%= category.id %>"><%= category.name %></a>
      <% }) %>
    </div>
  </div>

  <div id="preview-banner">
    <div id="left-preview-column">
      <div class="preview-background">
        <img src="" alt="">
      </div>
    </div>
    <div id="right-preview-column">

    </div>
  </div>

  <div class="titulo">
    <h1><%= lista %></h1>
  </div>
  <%- include('list', {movies: movies}) %>

  <div class="pagination">
    <a href="<%= host %><%= previous %>"><p page="<%= pagination.previous_page %>"><%= pagination.previous_page %></p></a>
    <p><%= pagination.page %></p>
    <a href="<%= host %><%= next %>"><p><%= pagination.next_page %></p></a>
  </div>

  <script src="/javascripts/preview.js"></script>
</body>

</html>