<div class="movie" overview="<%= movie.overview %>">
    <img src="http://image.tmdb.org/t/p/original<%= movie.poster_path %>" alt="<%= movie.title %>">
    <div class="overview">
        <h3><%= movie.original_title %></h3>
        <p>
            Rate: <%= movie.vote_average %>
            <br>
            Release: <%= movie.release_date %>
            <br>
        </p>
    </div>
</div>